.post{
    padding: 15px;
    background-color: #fff;
    text-decoration: none;
    &:hover{
        & .title{
            color: rgb(0, 162, 255);
        }
    }
}

.imgCont{
    margin-bottom: 10px;
    & img{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.title{
    font-size: 26px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: all ease .2s;
}

.author{
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}