.header{
    margin-top: 10px;
    margin-bottom: 20px;
    & h2 {
        text-transform: uppercase;
        text-align: center;
        color: #333;
    }
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    & p{
        font-size: 18px;
    }
}