@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Viaoda Libre', cursive;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  height: 100%;
}
